# Ignore object files
*.o

# Ignore binaries
*.exe
test_bits
test_bits128
test_cblas
test_combination
test_hamiltonian
test_vec_math
test_ad
test_optimize

# Ignore output files
*.out
*.log
*.jsonl
output/*

# Ignore OS-specific files
.DS_Store
Thumbs.db
random_sampling
